<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZOO_Application.Properties.Settings.ZOO__2_ConnectionString"
            connectionString="Data Source=Linah-PC;AttachDbFilename=&quot;C:\Users\Linah\Desktop\ZOO (2).mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ZOO_Application.Properties.Settings.ClientZOO__2_ConnectionString"
            connectionString="Data Source=|DataDirectory|\ZOO (2).sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>